<!DOCTYPE html>
<html lang="en" ng-app="eventWall">
<head>
	<meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base href="/">
    <title>Event Wall</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

	<!-- - - - stylesheets - - - -->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/application.css">

    <!--Embedding The User Object-->
    <script type="text/javascript">
      var user = <%- user ? JSON.stringify(user) : "null" %>;
    </script>

</head>
<body ng-controller="mainCtrl">
	<header ng-hide="hideNav" ng-include="'/static/templates/navbar.html'"></header>
	<div ng-view>
		 
	</div>

    
    

	<!-- - - - javascripts - - - -->
	<script type="text/javascript" src="static/javascripts/app.js"></script>

    <!-- - - - cdns - - - -->
     <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
      UPLOADCARE_LOCALE = "en";
      UPLOADCARE_TABS = "file url gdrive instagram flickr box";
      UPLOADCARE_LIVE = false;
      UPLOADCARE_PUBLIC_KEY = "bbc9cb9a180d7bb6d56c";
    </script>
    <script charset="utf-8" src="//ucarecdn.com/widget/2.6.0/uploadcare/uploadcare.full.min.js"></script>


</body>
</html>