@import url(https://fonts.googleapis.com/css?family=Roboto:500,400);
@import url(https://fonts.googleapis.com/css?family=Hind);
html, body {
  height: 100%; }

div.form-wrapper {
  background: white;
  max-width: 615px;
  padding: 35px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

div.authtemplate {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #3299BB; }
  div.authtemplate div.container {
    height: inherit; }

div.form-wrapper.page-form h1 {
  font-family: "Roboto", serif;
  text-align: center;
  font-size: 2.1em;
  font-weight: 500; }
  @media screen and (max-width: 768px) {
    div.form-wrapper.page-form h1 {
      font-size: 2.5em; } }
  @media screen and (max-width: 425px) {
    div.form-wrapper.page-form h1 {
      font-size: 1.5em; } }

div.form-wrapper.page-form form {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  padding-top: 20px; }
  div.form-wrapper.page-form form label {
    min-width: 20px;
    color: #FF9900; }
  div.form-wrapper.page-form form input {
    font-family: "Hind", Helvetica, sans-serif;
    border: none;
    background-color: #E9E9E9;
    text-align: left;
    width: 225px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      div.form-wrapper.page-form form input {
        width: 175px; } }
  div.form-wrapper.page-form form textarea:focus, div.form-wrapper.page-form form input:focus {
    outline-color: #3299BB;
    background-color: white; }
  @media screen and (max-width: 768px) {
    div.form-wrapper.page-form form div.button-wrapper {
      width: 200px;
      margin: 0 auto; } }
  div.form-wrapper.page-form form div.button-wrapper button {
    display: block;
    margin-left: 80px;
    margin-right: auto;
    background: #3299BB;
    width: 80px; }
    @media screen and (max-width: 768px) {
      div.form-wrapper.page-form form div.button-wrapper button {
        margin-left: 0;
        margin-right: auto; } }
    @media screen and (max-width: 425px) {
      div.form-wrapper.page-form form div.button-wrapper button {
        margin: 0 auto; } }

button {
  height: 36px;
  border: none;
  color: white;
  border-radius: 5px; }

button.auth {
  position: relative;
  width: 180px;
  padding-left: 40px; }
  button.auth span {
    height: inherit;
    position: absolute;
    width: 40px;
    top: 0px;
    left: 0px;
    border-radius: inherit;
    line-height: 2.55; }

.twitter-auth {
  background-color: #1DA1F2; }
  .twitter-auth span {
    background-color: #0d8cda;
    height: 100%; }

/*helper classes*/
.uploadcare-widget-button-open {
  background-color: #FF9900; }

#home {
  min-height: 1200px;
  background-color: #3299BB; }
  #home section.home {
    padding: 10px 15px;
    display: block;
    height: 1px;
    min-height: 70px;
    border-bottom: 1px solid #E9E9E9;
    background: white; }
    #home section.home h2 {
      margin: 0;
      float: left;
      font-family: "Roboto", serif;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      @media screen and (max-width: 768px) {
        #home section.home h2 {
          font-size: 18px; } }
    #home section.home button {
      float: right;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  #home div.list-container {
    display: block; }
    #home div.list-container div.list-wrapper {
      width: 930px;
      min-height: 660px;
      overflow-y: scroll;
      margin: 0 auto;
      background-color: white;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px; }
      #home div.list-container div.list-wrapper > div {
        width: 855px;
        display: table;
        margin: 0 auto;
        padding-top: 20px; }
        #home div.list-container div.list-wrapper > div div.eventWall-block {
          float: left;
          background-color: #E9E9E9;
          background-size: cover;
          border-radius: 5px;
          padding: 20px 10px;
          height: 200px;
          width: 275px;
          margin: 0px 5px 20px;
          font-family: "Hind", Helvetica, sans-serif; }
          #home div.list-container div.list-wrapper > div div.eventWall-block:hover {
            background-color: #D4D4D4;
            cursor: pointer; }
          #home div.list-container div.list-wrapper > div div.eventWall-block a:hover {
            text-decoration: none; }
          #home div.list-container div.list-wrapper > div div.eventWall-block a {
            color: black; }
            #home div.list-container div.list-wrapper > div div.eventWall-block a h4 {
              color: white;
              text-shadow: -1px -1px 1px black;
              text-align: center; }
            #home div.list-container div.list-wrapper > div div.eventWall-block a span {
              text-align: center; }
            #home div.list-container div.list-wrapper > div div.eventWall-block a > div > div {
              padding: 0 10px; }

.header-image {
  display: block;
  width: 100%;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("http://placehold.it/1900x500") no-repeat center center scroll;
  background-size: cover; }

.headline {
  padding: 120px 0; }
  .headline .container h1 {
    font-size: 77px;
    color: white;
    text-shadow: -4px -4px 2px rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 768px) {
      .headline .container h1 {
        font-size: 40px; } }
  .headline .container button {
    width: 150px; }
  .headline .container button#login-front {
    background-color: #3299BB; }
  .headline .container button#signup-front {
    background-color: #FF9900; }

#about-section div.row {
  margin: 60px 0; }
  #about-section div.row h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    font-family: "Roboto", serif;
    letter-spacing: 0.015em; }
    @media screen and (max-width: 768px) {
      #about-section div.row h1 {
        font-size: 20px; } }

#about-section .about h2 {
  font-family: "Roboto", serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px; }

#about-section .about p {
  font-family: Helvetica;
  text-align: center; }

#about-section .about address {
  margin-left: 20px;
  font-size: 1.1em; }

#marketing-points {
  background: red;
  min-height: 400px;
  width: 100%;
  display: table;
  table-layout: fixed;
  background: #3299BB; }
  #marketing-points div.row {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: inherit; }
    #marketing-points div.row div.circle-container div.circle-col .point-circle {
      width: 275px;
      height: 275px;
      position: relative;
      text-align: center;
      margin: 0 auto; }
      #marketing-points div.row div.circle-container div.circle-col .point-circle:after {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: #fff;
        content: ""; }
      #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper {
          display: table;
          width: 100%;
          height: 100%; }
          #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper .circle-content {
            display: table-cell;
            padding: 1em;
            vertical-align: middle;
            height: 250px; }
            #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper .circle-content i {
              margin-bottom: 10px;
              color: #FF9900; }
            #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper .circle-content h2 {
              text-align: center;
              margin: 0 auto 5px; }
            #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper .circle-content p {
              display: block;
              height: 125px;
              width: 190px;
              margin: 0 auto; }
    @media screen and (max-width: 1000px) {
      #marketing-points div.row div.circle-container div.circle-col {
        width: 100%;
        margin: 20px auto; }
        #marketing-points div.row div.circle-container div.circle-col .point-circle {
          width: 250px;
          height: 250px; }
          #marketing-points div.row div.circle-container div.circle-col .point-circle:after {
            display: block;
            padding-bottom: 100%;
            width: 100%;
            border-radius: 50%;
            content: ""; }
          #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper .circle-content h2 {
            font-size: 25px;
            margin: 0 auto 15px; } }
    @media screen and (min-width: 1200px) {
      #marketing-points div.row div.circle-container div.circle-col.col-lg-3:first-child {
        margin-left: 12%; } }

#contact-info {
  width: 100%; }
  #contact-info .container {
    text-align: center; }
    #contact-info .container h1 {
      font-size: 60px;
      font-family: "Roboto", serif;
      margin: 30px auto; }

.tagline {
  text-shadow: 0 0 10px #000;
  color: #fff; }

.img-center {
  margin: 0 auto; }

footer {
  margin: 50px 0 0; }
  footer p {
    padding-left: 10px; }

#eventWallFeed {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: table;
  margin: 0 auto; }

.feed-name {
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  bottom: 20px;
  right: 20px; }

.feedPost {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 50px; }

.feedContent {
  height: 300px;
  width: 700px;
  margin: 0 auto; }

.twitterPost {
  background: blue; }

.sitePost {
  background: green; }

.picturePost {
  background: red; }

.feed-picture {
  height: 200px;
  width: 200px; }

@media screen and (max-width: 768px) {
  #signup div.container div.form-wrapper h1 {
    font-size: 1.5em; } }

#signup div.container div.form-wrapper form {
  height: 200px; }

#login div.container div.form-wrapper div.button-wrapper {
  width: 245px;
  margin: 0 auto;
  position: relative;
  height: 35px; }
  @media screen and (max-width: 768px) {
    #login div.container div.form-wrapper div.button-wrapper {
      width: 200px; } }
  #login div.container div.form-wrapper div.button-wrapper button {
    position: absolute;
    left: 0;
    margin: 0;
    display: inline; }
  #login div.container div.form-wrapper div.button-wrapper a {
    right: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 1.1em; }

#login div.container div.form-wrapper div.oauth-button-wrapper {
  text-align: center; }

#login div.container div.form-wrapper div.hr-wrapper {
  text-align: center; }
  #login div.container div.form-wrapper div.hr-wrapper span {
    display: inline-block;
    bottom: 16px;
    margin: 15px;
    font-family: "Roboto", serif;
    position: relative;
    font-weight: bold;
    font-size: .8em; }
  #login div.container div.form-wrapper div.hr-wrapper hr {
    box-sizing: content-box;
    height: 0;
    width: 30%;
    display: inline-block; }

div#eventWall-New {
  background: #3299BB;
  min-height: 1400px; }
  div#eventWall-New h1 {
    margin: 0 auto;
    padding-top: 70px;
    font-family: "Roboto", serif;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 0 1px 1px #424242; }
    @media screen and (max-width: 425px) {
      div#eventWall-New h1 {
        font-size: 2.5em; } }
  div#eventWall-New div.container {
    width: 100%; }
    div#eventWall-New div.container > div.eventWallForm-wrapper {
      width: 500px;
      margin: 50px auto 0;
      border-radius: 20px; }
      @media screen and (max-width: 768px) {
        div#eventWall-New div.container > div.eventWallForm-wrapper {
          width: 99%; } }
      div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group {
        width: 100%;
        background: white;
        padding: 40px;
        border-radius: 5px; }
        div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group h4 {
          font-size: 24px;
          font-family: "Roboto", serif; }
        div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.background-type-wrapper {
          height: 196px;
          width: 300px;
          margin: 0 auto; }
        div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section {
          padding: 10px 0 10px 30px;
          width: 300px;
          margin: 0 auto; }
          @media screen and (max-width: 768px) {
            div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section {
              width: 285px;
              padding-left: 0; } }
          @media screen and (max-width: 425px) {
            div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section {
              width: 99%; } }
          div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section.style-info > div.style-options {
            padding-left: 20px; }
          div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section#backgroundTypeColor {
            width: 100%;
            height: 196px;
            margin-left: auto;
            position: relative;
            margin-right: auto;
            display: block;
            padding: 0; }
            div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section#backgroundTypeColor input#color {
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              width: 100px; }
            div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section#backgroundTypeColor #colorpicker {
              display: block;
              position: absolute;
              height: auto;
              top: 0px;
              right: 0; }
          div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section#backgroundTypeImage {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            display: none; }
          div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section label {
            font-family: "Roboto", serif;
            width: 210px;
            font-size: 15px; }
            div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section label.radio-label {
              display: inline-block;
              vertical-align: top;
              width: auto;
              height: 20px;
              font-family: "Hind", Helvetica, sans-serif; }
            div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section label span {
              color: red; }
            div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section label i {
              padding-top: 2px;
              float: right; }
              div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section label i.style-help {
                padding-left: 10px;
                float: none;
                font-size: 10px; }
          div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section input {
            width: 225px;
            height: 30px;
            font-family: "Hind", Helvetica, sans-serif;
            border: none;
            background-color: #E9E9E9;
            text-align: left;
            border-radius: 3px;
            padding-left: 10px;
            font-size: 16px;
            margin-bottom: 10px;
            color: black; }
            @media screen and (max-width: 768px) {
              div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section input {
                width: 100%;
                height: 35px; } }
            @media screen and (max-width: 425px) {
              div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section input {
                width: 100%; } }
            div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section input.radio {
              width: 20px;
              display: inline-block;
              vertical-align: top;
              height: 20px;
              margin-top: 1px; }
          div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section textarea:focus, div#eventWall-New div.container > div.eventWallForm-wrapper form div.form-group div.form-section input:focus {
            outline-color: #FF9900;
            background-color: white; }

nav {
  background-color: #424242;
  font-family: "Hind", Helvetica, sans-serif; }
  nav button.navbar-toggle {
    border: 1px solid #E9E9E9; }
    nav button.navbar-toggle span.icon-bar {
      background-color: white; }
  nav a.navbar-brand {
    font-family: "Roboto", serif;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: -1px -2px 2px #3299BB; }
  nav .nav > li > a:hover {
    background-color: white;
    color: black; }
    nav .nav > li > a:hover i {
      color: #FF9900; }
  nav li a {
    font-size: 1.1em;
    color: white; }
    nav li a i {
      padding-right: 10px; }
