@import url(https://fonts.googleapis.com/css?family=Roboto:500,400);
@import url(https://fonts.googleapis.com/css?family=Hind);
html, body {
  height: 100%; }

.form-wrapper {
  background: white;
  max-width: 615px;
  padding: 35px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.authtemplate {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #3299BB; }
  .authtemplate div.container {
    height: inherit; }

form {
  text-align: center; }
  form label {
    min-width: 20px;
    color: #FF9900; }
  form input {
    font-family: "Hind", Helvetica, sans-serif;
    border: none;
    background-color: #E9E9E9;
    text-align: left;
    width: 225px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 16px; }
  form textarea:focus, form input:focus {
    outline-color: #3299BB;
    background-color: white; }

/*helper classes*/
.float-right {
  float: right; }

.float-left {
  float: left; }

.display-block {
  display: block; }

#yourEW {
  margin-top: 3px;
  font-weight: 500;
  font-size: 20px; }
  @media screen and (max-width: 768px) {
    #yourEW {
      font-size: 18px; } }

.eventWall-list {
  margin: 10px 0;
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 20px 0px; }
  .eventWall-list:hover {
    background-color: #D4D4D4;
    cursor: pointer; }
  .eventWall-list a:hover {
    text-decoration: none; }
  .eventWall-list a {
    color: black; }

.header-image {
  display: block;
  width: 100%;
  text-align: center;
  background: url("http://placehold.it/1900x500") no-repeat center center scroll;
  background-size: cover; }

.headline {
  padding: 120px 0; }
  .headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9); }
    @media screen and (max-width: 768px) {
      .headline h2 {
        font-size: 40px; } }

#about-section div.row {
  margin: 60px 0; }
  #about-section div.row.col-sm-4.col-sm-offset-1 {
    margin-right: 30px; }
  #about-section div.row h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    font-family: "Roboto", serif;
    letter-spacing: 0.015em; }
    @media screen and (max-width: 768px) {
      #about-section div.row h1 {
        font-size: 20px; } }

#about-section .about h2 {
  font-family: "Roboto", serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px; }

#about-section .about p {
  font-family: Helvetica;
  text-align: center; }

#about-section .about address {
  margin-left: 20px;
  font-size: 1.1em; }

#marketing-points {
  background: red;
  min-height: 400px;
  width: 100%;
  display: table;
  table-layout: fixed;
  background: green; }
  #marketing-points div.row {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: inherit; }
    #marketing-points div.row div.circle-container div.circle-col .point-circle {
      width: 275px;
      height: 275px;
      position: relative;
      text-align: center;
      margin: 0 auto; }
      #marketing-points div.row div.circle-container div.circle-col .point-circle:after {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: #ddd;
        content: ""; }
      #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper {
          display: table;
          width: 100%;
          height: 100%; }
          #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper .circle-content {
            display: table-cell;
            padding: 1em;
            vertical-align: middle;
            height: 250px; }
            #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper .circle-content h2 {
              text-align: center;
              margin: 0 auto 10px; }
            #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper .circle-content p {
              display: block;
              height: 125px;
              width: 190px;
              margin: 0 auto; }
    @media screen and (max-width: 1000px) {
      #marketing-points div.row div.circle-container div.circle-col {
        width: 100%;
        margin: 20px auto; }
        #marketing-points div.row div.circle-container div.circle-col .point-circle {
          width: 250px;
          height: 250px; }
          #marketing-points div.row div.circle-container div.circle-col .point-circle:after {
            display: block;
            padding-bottom: 100%;
            width: 100%;
            border-radius: 50%;
            content: ""; }
          #marketing-points div.row div.circle-container div.circle-col .point-circle .inner-circle .circle-wrapper .circle-content h2 {
            font-size: 25px;
            margin: 0 auto 15px; } }
    @media screen and (min-width: 1200px) {
      #marketing-points div.row div.circle-container div.circle-col.col-lg-3:first-child {
        margin-left: 12%; } }

#contact-info {
  width: 100%; }
  #contact-info .container {
    text-align: center; }
    #contact-info .container h1 {
      font-size: 60px;
      font-family: "Roboto", serif;
      margin: 30px auto; }

.tagline {
  text-shadow: 0 0 10px #000;
  color: #fff; }

.img-center {
  margin: 0 auto; }

footer {
  margin: 50px 0;
  background: red; }

#eventWallFeed {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: table;
  margin: 0 auto; }

.feed-name {
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  bottom: 20px;
  right: 20px; }

.feedPost {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 50px; }

.feedContent {
  height: 300px;
  width: 700px;
  margin: 0 auto; }

.twitterPost {
  background: blue; }

.sitePost {
  background: green; }

.picturePost {
  background: red; }

.feed-picture {
  height: 200px;
  width: 200px; }

#signup div.container #register-form h1 {
  font-family: "Roboto", serif;
  text-align: center;
  font-size: 2.1em;
  font-weight: 500; }
  @media screen and (max-width: 768px) {
    #signup div.container #register-form h1 {
      font-size: 2.5em; } }
  @media screen and (max-width: 374px) {
    #signup div.container #register-form h1 {
      font-size: 1.6em; } }

#signup div.container #register-form form {
  margin: 0 auto;
  height: 200px;
  max-width: 400px;
  padding-top: 20px; }
  #signup div.container #register-form form input {
    margin-bottom: 10px; }
  #signup div.container #register-form form button {
    display: block;
    margin-left: 80px;
    margin-right: auto;
    color: white;
    background: #3299BB;
    border: none;
    width: 80px;
    height: 36px; }
    @media screen and (max-width: 768px) {
      #signup div.container #register-form form button {
        margin-left: 0; } }
