<h4 class="text-center">Create a new event to save media memories for!</h4>
<div ng-show="error" class="alert alert-danger text-center">{{errorMessage}}</div>
<div class="col-sm-6 col-sm-offset-3">
  
  <form class="form" ng-submit="create()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="username" ng-model="eventWallForm.name" required>
    </div>
    <div class="form-group">
      <label>Hashtag</label>
        <input type="text" class="form-control" name="hashtag" ng-model="eventWallForm.hashtag" placeholder="#bacon"required>
      </div>
      <div>
    </div>
    <div class="form-group">
      <label>Url</label>
        <input type="text" class="form-control" name="url" ng-model="eventWallForm.url" required>
    </div>
    <div class="form-group">
      <label>Icon</label><br>
      <input id="eventWallIcon" type="hidden" role="uploadcare-uploader"
       data-crop="1:1"
       data-images-only="true" />
    </div>
    <div class="form-group">
      <label>Hashtag Icon</label><br>
      <input id="eventWallHashtagIcon" type="hidden" role="uploadcare-uploader"
      data-crop="free"
       data-images-only="true"/>
    </div>
    <div class="form-group">
      <label>Background</label><br>
      <div>1920x1080 is the optimal background size.</div>
      <input id="eventWallBackground" type="hidden" role="uploadcare-uploader"
       data-crop=""
       data-images-only="true"/>
    </div>
    
    <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Submit</button>
    </div>
  </form>


</div>

<!-- name, hashtag, url, icon, background -->