<div data-feed-interface>
	<div id="eventWallFeed">
		<div class="text-center" ng-show="error">{{errorMessage}}</div>
		<div class="feedPost"> 
        	<div ng-if="post.type === 'sitePost'">
        		<div data-site-post>

                        </div>
        	</div>
        	<div ng-if="post.type !== 'sitePost'" class="twitterPost feedContent">
        		<div>
        			not a sitepost!
        		</div>
        	</div>
        </div>
		<span class="feed-name">{{eventWall.name}}</span>
	</div>
</div>