<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>

<a ng-hide="error" href="/auth/google" target="_self" class="btn btn-primary">Log in with Google</a>

<div ng-show="!!user.googleId">
	You are already logged in via Google. <br><br>

	<a class="text-center" href="/post/{{eventWall.url}}/new/">
		<button class="btn btn-default text-center">Make a post to {{eventWall.name}}</button>
	</a>
</div>