<div data-feed-interface>
	{{eventWall.name}}
	<br><br>
	{{eventWall.posts.length}}


	<div id="eventWall">
		<div ng-show="error">{{errorMessage}}</div>
		<data-show-post></data-show-post>
	</div>
	


</div>



