<div id="home">
	<section class="home">
		<h2>Your Event Walls</h2>
		<a class="float-right" href="/eventWall/new"><button class="btn btn-default text-right">Create Event Wall</button></a>
	</section>

	<div class="list-container">
		<div class="list-wrapper">
			<div>
				<div class="eventWall-block" ng-repeat="eventWall in user.eventWalls" data="{{eventWall._id}}">
					<a href="/feed/{{eventWall.url}}"><div>
						<h4>{{eventWall.name}}</h4>
						<div>
							<span class="display-block text-center">{{eventWall.hashtag}}</span><br>
							Posts: {{eventWall.posts.length}}<br>
							Banned: {{eventWall.bannedTweets.length + eventWall.bannedPosts.length}}<br>
							URL: {{eventWall.url}}<br>
						</div>
					</div></a>
				</div>
			</div>
			
		</div>
	</div>
</div>




