<div id="login" class="authtemplate">
  <div class="container">
      <div class="form-wrapper page-form">
          <h1>Login</h2>
        <%if(!!flashMessages.noTwitter && (flashMessages.noTwitter.length > 0)) {%>
          <div class="alert alert-danger text-center">
            <%= flashMessages.noTwitter %>
          </div>
        <% } %>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="login()">
          <div class="form-group">
            <label><i class="fa fa-user"></i></label>
            <input type="text" name="username" ng-model="loginForm.username" required>
          </div>
          <div class="form-group">
            <label><i class="fa fa-lock"></i></label>
              <input type="password" name="password" ng-model="loginForm.password" required>
            </div>
            <div class="button-wrapper">
              <button type="submit" ng-disabled="disabled">Login</button>
              <a href="/sign-up">Sign Up</a>
            </div>
        </form>
        <div class="hr-wrapper">
          <hr>
          <span>OR</span>
          <hr>
        </div>
        <div class="oauth-button-wrapper">
          <a href="/auth/twitter" target="_self"><button class="auth twitter-auth"><span><i class="fa fa-twitter fa-lg"></i></span>Login with Twitter</button></a>
        </div>
      </div>
  </div>
</div>

