<!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
     <header class="header-image">
        <div class="headline">
            <div class="container">
                <h2>Event Wall</h2>
                <div ng-if="isLoggedIn === false">
                	<a href="/sign-up"><button class="btn btn-default">Sign Up</button></a>
                	<a href="/login"><button class="btn btn-default">Log In</button></a>
                </div>
                <div ng-if="isLoggedIn === true">
                	<a href="/home"><button class="btn btn-default">Go to Homepage</button></a>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div id="about-section" class="container">
        <div class="row">
    		<h1>PROVIDE A BETTER EXPERIENCE FOR YOUR GUESTS</h1>
    		<hr>
    		<div class="col-sm-4  col-sm-offset-1 about vcenter">
                <h2>What Is It</h2>
                <p>An Event Wall is a way for guests to share messages, pictures, and tweets with the event. Then guests attending the event can see the feed that is updated in real time.</p>
            </div>
            <div class="col-sm-6 about vcenter">
            	<h2>How Does It Work</h2>
                <p>
                	The stream loads up to the last 100 tweets of your specified #hashtag, and all posts made to the stream through the website. Guests can tweet with the tracked #hashtag or they can go to "EventWall.online/post/EventUrl" to post to the stream for others to instantly see!
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    	<!-- container -->

        

<div id="marketing-points" class="container">
	<div class="row">
		<div class="col-sm-12 circle-container">
			<div class="col-sm-4 col-md-4 col-lg-3 circle-col">
            	<div class="point-circle">
            		<div class="inner-circle">
            			<div class="circle-wrapper">
            				<div class="circle-content">
            					<h2>Easy Setup</h2>
                				<p>
            						Sign up for an account and immediately create your Event Wall. After it has been created, go to the link and it's ready to go!
                				</p>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
            	<!-- col-sm-2 -->
            <div class="col-sm-4 col-md-4 col-lg-3 circle-col">
            	<div class="point-circle">
            		<div class="inner-circle">
            			<div class="circle-wrapper">
            				<div class="circle-content">
            					<h2>Display</h2>
                				<p>
            						Project your Event Wall for your guests to see and interact with. Use the built in controls to ban and shuffle through posts. Or let the posts rotate through themselves.
                				</p>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
            	<!-- col-sm-2 -->
            <div class="col-sm-4 col-md-4 col-lg-3 circle-col">
            	<div class="point-circle">
            		<div class="inner-circle">
            			<div class="circle-wrapper">
            				<div class="circle-content">
            					<h2>Quick Updates</h2>
                				<p>
            						Your guests can update the Event Wall via the website or a tweet. Posts via the website will last indefinitely unless banned.
                				</p>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
            	<!-- col-sm-2 -->
		</div>
			<!-- col-sm-12 -->
    </div>
        <!-- /.row -->
</div>
	<!-- container -->
        
<div id="contact-info">
	<div class="container">
		<h1>Contact</h1>
		<hr>
		<span>Email EventWallonline@gmail.com for questions</span><br>
		<span>Follow @EventWallonline on Twitter</span><br>
	</div>
</div>
        

<div class="container">
	<!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>EventWall &copy; 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
</div>
        
