<!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
     <header class="header-image">
        <div class="headline">
            <div class="container">
                <h2>Event Wall</h2>
                <div ng-if="isLoggedIn === false">
                	<a href="/sign-up"><button class="btn btn-default">Sign Up</button></a>
                	<a href="/login"><button class="btn btn-default">Log In</button></a>
                </div>
                <div ng-if="isLoggedIn === true">
                	<a href="/home"><button class="btn btn-default">Go to Homepage</button></a>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What Is It</h2>
                <p>Create an event </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
            </div>
            <div class="col-sm-4">
                <h2>Contact</h2>
                <address>
                    <abbr title="Phone">P:</abbr>
                    <a href="tel:707-246-4541">(707) 246-4541</a>
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:justin.regi.reyes@gmail.com">justin.regi.reyes@gmail.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #1</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #3</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>