html, body {
	height: 100%;
}

.form-wrapper {
	background: white;
    max-width: 615px;
    padding: 35px;
    margin: 0 auto;
    border-radius: 10px;
	@include vertical-align();
}

.authtemplate {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(rgba(0, 0, 0, .40), rgba(0, 0, 0, .40)), $gameBlue; //add image
	div.container {
		height: inherit;
	}
}


form {
	text-align: center;
	label {
		min-width: 20px;
		color: $vitaminC;
	}
	input {
		font-family: $hind;
		border: none;
		background-color: $steadyGrey;
		text-align: left;
		width: 225px;
		height: 30px;
		border-radius: 3px;
		padding-left: 10px;
		font-size: 16px;
	}
	textarea:focus, input:focus{
		outline-color: $gameBlue;
		background-color: white; 
    }		
}


/*helper classes*/
.float-right {
	float: right;
}

.float-left {
	float: left;
}

.display-block {
	display: block;
}