nav {
	background-color: $route66;
	font-family: $hind;
	button.navbar-toggle {
		border: 1px solid #E9E9E9;
		span.icon-bar {
			background-color: white;
		}
	}
	a.navbar-brand {
		font-family: $headerFont;
		color: white;
		font-size: 2em;
		font-weight: bold;
		text-shadow: -1px -2px 2px #3299BB;
	}
	.nav>li>a:hover {
		background-color: white;
		color: black;
		i {
			color: $vitaminC;
		}
	}
	li{
		&:first-child {
		}
		a {
			font-size: 1.1em;
			color: white;
			i {
				padding-right: 10px;
			}
		}
	}
}