#yourEW {
	margin-top: 3px;
    font-weight: 500;
    font-size: 20px;
    @media screen and (max-width: 768px) {
	    font-size: 18px;
	}
}

.eventWall-list {
	margin: 10px 0;
    background-color: #EFEFEF;
    border-radius: 5px;
    padding: 20px 0px;
    &:hover {
    	background-color: #D4D4D4;
    	cursor: pointer;
    }
    a:hover {
    	text-decoration: none;
    }
    a {
    	color: black;
    }
}